@use "../auxil/utils";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > input[type='checkbox'] {
        height: 1rem;
        width: 1rem;

        appearance: none;
        background: grey;

        &:checked {
            background-color: white;
        }
    }

    > label {
        text-transform: uppercase;
    }
}
