@use "../auxil/utils";

.container {
    display: flex;
    flex-direction: column;

    padding: .25rem 1rem;
    
    border: 1px solid white;
    border-radius: .25rem;

    cursor: pointer;
    user-select: none;

    @include utils.font-main;

    &:hover {
        color: lightgrey;
    }
}

.container > hr {
    width: 100%;
    margin: 0;
}

.main {
    display: flex;
    align-items: center;

    > span:first-child {
        flex-grow: 1;
    }

    > span:last-child {
        font-size: 1rem;
    }
}

.flavour {
    height: 1rem;

    margin: .25rem 0;

    display: flex;
    justify-content: space-between;

    font-size: 1rem;
}
